$font: "Lora", sans-serif;

header{
    margin-top: 50px;
    h1{
        font-size: 30px;
    }
}

.court-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
    height: 65vh;
    align-items: center;
}

.court-object{
    min-width: 75%;
    min-height: 100px;
    border-radius: 10px;
    width: 70%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    img{
        height: 100px;
        width: 100px;
        margin-right: 10px;
        border-radius: 10px;
    }
    // margin-top: 40px;
}

.court-object:hover{
    background-color: #F4F4F4;
    cursor: pointer;
}

.court-details{
    display:flex;
    flex-direction: row;
    margin-top: auto;
    // width: 150px;
    h3{
        font-weight: 100;
        font-size: 12px;
        margin-bottom: 0;
    }
    h3:nth-child(2){
        margin-left: 10px;
    }
}

.court-name
{
    h2{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 5px;
        width: 200px;
    }
    h2:hover{
        overflow: visible;
    }
}

.court-populated{
    margin-top: 20px;
    margin-left: 25px;
    h3{
        font-weight: 100;
        font-size: 12px;
        width: 100px;
    }
    h3:nth-child(1){
        margin-top: 15px
    }
    float: right;
}

.court-info{
    margin-top: 20px;
}

mark{
    background-color: transparent;
    color: red;
}

.line{
    width: 300px;
    height: 12px;
    border-bottom: 3px solid #FF5800;
    position: relative;
    left: 75px;
    top: 35px;
    z-index: 10;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #FF5800;
    border-radius: 50%;
    display: inline-block;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    h3{
        margin-left: 10px;
        color: #707070;
    }
}

#getDirection {
    h3 {
        font-weight: 100;
        color: black;
    }
    text-decoration: none;
}

footer:hover{
    background-color: #F4F4F4;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
}

.courts{
    width: 100%;      
    a{
        text-decoration: none;
        background-color: #FF5800;
        color: white;
        padding: 15px;
        width: 30%;
        position: absolute;
        bottom: 90px;
        left: 30%;
        border-radius: 10px;
        text-align: center;
        display: block;
        justify-self: center;
    }

    a:hover{
        background-color: #FF9760;
        cursor: pointer;
    }
}